# Ignore Python __pycache__ directories
*.pyc
__pycache__/
venv/
# Ignore individual __init__.py files
**/__init__.py

# Ignore SQLite database file
db.sqlite3

# Ignore Django migrations
/migrations/
api/migrations/*.py
.gitignore
# Ignore virtual environment


.DS_Store